<html>
<head>
   <title>Cube</title>
</head>
<body>
    <script type="module" src="js/classicInitVideo.js"></script> 
    <script type="module" src="js/tutorialLighting.js"></script>
    <script type="module" src="js/ClassicAnimate.js"></script>
</body>
</html>